
/* Medium screens (max-width: 768px) */
@media (max-width: 768px) {
  .fitcontent {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: -3px 3px 10px red;
  }
  .brandimg{
    height: 2.4rem;;
    filter: invert(91%) sepia(53%) saturate(63%) hue-rotate(30deg) brightness(100%) contrast(113%);
      opacity: 100;
  }
}


/* Extra small screens (max-width: 425px) */
@media (max-width: 425px) {
  .fitcontent {
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px red;
  }
  .brandimg{
    height: 1.2rem;
    filter: invert(91%) sepia(53%) saturate(63%) hue-rotate(30deg) brightness(100%) contrast(113%);
      opacity: 100;
  }
  
}
