
/* Medium screens (max-width: 768px) */
@media (max-width: 768px) {
  .fitcontent {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: -3px 3px 10px red;
  }
  .brandimg{
    height: 2.4rem;;
    filter: invert(91%) sepia(53%) saturate(63%) hue-rotate(30deg) brightness(100%) contrast(113%);
      opacity: 100;
  }
}


/* Extra small screens (max-width: 425px) */
@media (max-width: 425px) {
  .fitcontent {
    width: 500px;
    height: 200px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px red;
  }
  .brandimg{
    height: 1.2rem;
    filter: invert(91%) sepia(53%) saturate(63%) hue-rotate(30deg) brightness(100%) contrast(113%);
      opacity: 100;
  }
  
}


/* footer responsive */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  border-radius: 50%;
}

.social-icon:hover {
  background-color: #fdf2e9;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
}

.profile-link:link,
.profile-link:visited {
  color: #e67e22;
  text-decoration: none;
}

.profile-link:hover,
.profile-link:active {
  color: #cf711f;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

@media (max-width: 44em) {
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
}
